.glitch {
    font-family: 'Source Code Pro', monospace;
    color: white;
    font-size: 6rem;
    position: relative;
}

#glitch-business {
    display: none;
}

@-webkit-keyframes noise-anim {
    0% {
        clip: rect(15px, 9999px, 74px, 0);
    }
    8.33333% {
        clip: rect(54px, 9999px, 84px, 0);
    }
    16.66667% {
        clip: rect(30px, 9999px, 47px, 0);
    }
    25% {
        clip: rect(90px, 9999px, 30px, 0);
    }
    33.33333% {
        clip: rect(66px, 9999px, 59px, 0);
    }
    41.66667% {
        clip: rect(61px, 9999px, 28px, 0);
    }
    50% {
        clip: rect(46px, 9999px, 64px, 0);
    }
    58.33333% {
        clip: rect(48px, 9999px, 77px, 0);
    }
    66.66667% {
        clip: rect(99px, 9999px, 43px, 0);
    }
    75% {
        clip: rect(90px, 9999px, 53px, 0);
    }
    83.33333% {
        clip: rect(42px, 9999px, 44px, 0);
    }
    91.66667% {
        clip: rect(18px, 9999px, 72px, 0);
    }
    100% {
        clip: rect(25px, 9999px, 33px, 0);
    }
}

@keyframes noise-anim {
    0% {
        clip: rect(15px, 9999px, 74px, 0);
    }
    8.33333% {
        clip: rect(54px, 9999px, 84px, 0);
    }
    16.66667% {
        clip: rect(30px, 9999px, 47px, 0);
    }
    25% {
        clip: rect(90px, 9999px, 30px, 0);
    }
    33.33333% {
        clip: rect(66px, 9999px, 59px, 0);
    }
    41.66667% {
        clip: rect(61px, 9999px, 28px, 0);
    }
    50% {
        clip: rect(46px, 9999px, 64px, 0);
    }
    58.33333% {
        clip: rect(48px, 9999px, 77px, 0);
    }
    66.66667% {
        clip: rect(99px, 9999px, 43px, 0);
    }
    75% {
        clip: rect(90px, 9999px, 53px, 0);
    }
    83.33333% {
        clip: rect(42px, 9999px, 44px, 0);
    }
    91.66667% {
        clip: rect(18px, 9999px, 72px, 0);
    }
    100% {
        clip: rect(25px, 9999px, 33px, 0);
    }
}

.glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 red;
    top: 0;
    color: white;
    background: #0a3682;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
}

@-webkit-keyframes noise-anim-2 {
    0% {
        clip: rect(77px, 9999px, 39px, 0);
    }
    8.33333% {
        clip: rect(49px, 9999px, 44px, 0);
    }
    16.66667% {
        clip: rect(40px, 9999px, 29px, 0);
    }
    25% {
        clip: rect(49px, 9999px, 1px, 0);
    }
    33.33333% {
        clip: rect(28px, 9999px, 30px, 0);
    }
    41.66667% {
        clip: rect(16px, 9999px, 71px, 0);
    }
    50% {
        clip: rect(61px, 9999px, 93px, 0);
    }
    58.33333% {
        clip: rect(86px, 9999px, 34px, 0);
    }
    66.66667% {
        clip: rect(2px, 9999px, 78px, 0);
    }
    75% {
        clip: rect(6px, 9999px, 13px, 0);
    }
    83.33333% {
        clip: rect(81px, 9999px, 45px, 0);
    }
    91.66667% {
        clip: rect(5px, 9999px, 62px, 0);
    }
    100% {
        clip: rect(70px, 9999px, 63px, 0);
    }
}

@keyframes noise-anim-2 {
    0% {
        clip: rect(77px, 9999px, 39px, 0);
    }
    8.33333% {
        clip: rect(49px, 9999px, 44px, 0);
    }
    16.66667% {
        clip: rect(40px, 9999px, 29px, 0);
    }
    25% {
        clip: rect(49px, 9999px, 1px, 0);
    }
    33.33333% {
        clip: rect(28px, 9999px, 30px, 0);
    }
    41.66667% {
        clip: rect(16px, 9999px, 71px, 0);
    }
    50% {
        clip: rect(61px, 9999px, 93px, 0);
    }
    58.33333% {
        clip: rect(86px, 9999px, 34px, 0);
    }
    66.66667% {
        clip: rect(2px, 9999px, 78px, 0);
    }
    75% {
        clip: rect(6px, 9999px, 13px, 0);
    }
    83.33333% {
        clip: rect(81px, 9999px, 45px, 0);
    }
    91.66667% {
        clip: rect(5px, 9999px, 62px, 0);
    }
    100% {
        clip: rect(70px, 9999px, 63px, 0);
    }
}

.glitch:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: white;
    background: #0a3682;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
}
